body {
    background-image: linear-gradient(0deg, rgba(21,29,52,1) 0%, rgba(33,66,194,1) 64%),
                  url("/frontend/img/smoke.png"); 
                  background-size: contain;
                  background-position: center;
                }

.alice-regular {
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
  }

  .gra{
    background-image: linear-gradient(0deg, rgba(21,29,52,1) 0%, rgba(33,66,194,1) 64%);

  }
  